{% extends "./navigation.html" %}
{% block main %}
    <!-- ======= Team Section ======= -->

 

     <section id="services" class="services section-bg">
      <div class="container">

        <div class="credits">
          <a href=""><h2>Copyright Registration</h2></a> <br>
        <a href="#" class="scrollto"><h4>Get Started >></h4></a><br><br>
      


         <p >Obtain copyright registration online for books, music, film, photography and software applications through CFOHUB at just Rs.12899 from anywhere in India.</p>
          <p>There is a surge in the amount of intellectual property being registered in India due to an increase in awareness among people about intellectual property laws and the advancement of technology, allowing for online registration of many of the type of intellectual property being created. Copyright registration is one of the key types of intellectual property protection and allows for the protection of literary, dramatic, musical and artistic works..</p>
<p>
Copyright is a right to ownership and enjoyment given by the law to creators of literary, dramatic, musical, artistic works and producers of cinematograph films and sound recordings. It is a bundle of rights comprising of rights to reproduction, communication to the public, adaptation and translation of the work. Copyright ensures certain minimum safeguards of the rights of ownership and enjoyment of the authors over their creations, thereby protecting and rewarding creativity.</p>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="icofont-computer"></i></div>
              <h4 class="title"><a href="">Basics</a></h4>
              <p class="description">Copyright is a right to ownership and enjoyment given by the law to creators of literary, dramatic, musical, artistic works and producers of cinematograph films and sound recordings..</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
              <h4 class="title"><a href="">eligibility</a></h4>
              <p class="description">Any work namely literary, dramatic, musical, artistic work, cinematograph film, or sound recording, can be copyrighted. Copyrights are given in India in mainly three classes of work.</p>
            </div>
          </div>
         
        </div>

      </div>
    </section><!-- End Services Section --><br><br>

{% endblock %}