{% extends "./navigation.html" %}
{% block main %}
    <!-- ======= Team Section ======= -->

 

     <section id="services" class="services section-bg">
      <div class="container">

        <div class="credits">
          <a href=""><h2>Funding Advisory</h2></a> <br>
        <a href="#" class="scrollto"><h4>Get Started >></h4></a><br><br>
        <p>We provide unbaised advise to start-ups in their fund raising plan and suggest the best time and source to raise the required funds for their strategic growth. The start-up are given option to choose the right level of funding requirement based on their business plan and long term strategy with the support of our experienced team.</p>
      




      </div>
    </section><!-- End Services Section -->

{% endblock %}