{% extends "./navigation.html" %}
{% block main %}
    <!-- ======= Team Section ======= -->

 

     <section id="services" class="services section-bg">
      <div class="container">

        <div class="credits">
          <a href=""><h2>Limited Liability Company (LLP) Registration</h2></a> <br>
        <a href="#" class="scrollto"><h4>Get Started >></h4></a><br><br>
      


         <p >Online LLP registration with LLP deed drafting and GST registration at just Rs.7899 in less than 15 days. To register an LLP, a minimum of two persons above the age of 18 are required.</p>
          <p>Limited Liability Partnership (LLP) was introduced in India by way of the Limited Liability Partnership Act, 2008. The basic premise behind the introduction of Limited Liability Partnership (LLP) is to provide a form of business entity that is simple to maintain while providing limited liability to the owners. Since, its introduction in 2010, LLPs have been well received with over one lakhs registrations in India.</p>
          <p>LLP is one of the easiest types of business to incorporate and manage in India. With an easy incorporation process and simple compliance formalities, LLPs are preferred by Professionals, Micro and Small businesses that are family-owned or closely-held. Since LLPs are not capable of issuing equity shares, LLP should NOT be chosen for any business that has plans for raising equity funds from Angel Investors, Venture Capitalist or Private Equity Funds.</p>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="icofont-computer"></i></div>
              <h4 class="title"><a href="">Eligibility</a></h4>
              <p class="description">To register a Limited Liability Partnership (LLP) a minimum of two persons are required over the age of 18 with one being an Indian citizen and resident.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
              <h4 class="title"><a href="">Compliance</a></h4>
              <p class="description">CFOHUB offers a comprehensive llp accounting and compliance management solution starting at less than Rs.14899/- per year.</p>
            </div>
          </div>
         
        </div>

      </div>
    </section><!-- End Services Section -->

{% endblock %}