{% extends "./navigation.html" %}
{% load static %}
{% block main %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container" data-aos="fade-in">
      <h1>CFOHUB</h1>
      <h2>Team of experienced professionals to assist in CFO services and other ancillary services.</h2>
      <div class="d-flex align-items-center">
        <i class="bx bxs-right-arrow-alt get-started-icon"></i>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        
        <div class="row">
          
          <div class="col-xl-12 d-flex">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col mx-1 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h6><b>Business Strategy</b></h6>
                    <p>We partner with enterprises to develop their business strategy or revise their existing strategy to suit the current dynamics and align them with vision, mission and values.</p>
                  </div>
                </div>
                <div class="col mx-1 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon-box mt-4 mt-xl-0">
                     <i class="bx bx-images"></i>
                    <h6><b>Business Modelling</b></h6>
                    <p>We partner with enterprises to structure the business and build cost centers, profit centers, segment and geographical presence based on their products and market.</p>
                  </div>
                </div>
                <div class="col mx-1 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h6><b>Succession Planning</b></h6>
                    <p>We partner with enterprises to draft a succession planning process and enable effective and efficient succession planning through our “Nine Grid Approach”. We manage potential successor’s growth plan roles through unique methods designed for each enterprise.</p>
                  </div>
                </div>
                <div class="col mx-1 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box mt-4 mt-xl-0">
                     <i class="bx bx-receipt"></i>
                    <h6><b>Board/ Investor Reports</b></h6>
                    <p>We partner with start-ups with the growth plan and work closely with their Board and operations to manage their Board reporting and assist in investor presentation with our unique proposition.</p>
                  </div>
                </div>
                <div class="col mx-1 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h6><b>Merger and Acquisition</b></h6>
                    <p>We partner with enterprises in goal setting in merger and acquisition objective and assist them in the life cycle of merger or acquisition/ buy-out process.</p>
                  </div>
                </div>
                <div class="col mx-1 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box mt-4 mt-xl-0">
 <i class="bx bx-cube-alt"></i>
                     <h6><b>Compensation Planning</b></h6>
                    <p>We partner with enterprises with their compensation planning for their leadership team. We also assist in attracting and retaining talent and enable the enterprises to ease up their talent management process.  </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
         </div>
    </section><!-- End Why Us Section -->

      <section id="why-us" class="why-us">
      <div class="container">
  
        <div class="row">
          <div class="col-xl-12 col-lg-12" data-aos="fade-up">
            <div class="content">
              <h5>Why Choose CFOHUB for your company?</h5>
              <p>
                CFOHUB is business services platform dedicated to helping Entrepreneurs easily start and grow their business with a strong business advisory service.
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">Get Started <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h4 data-aos="fade-up">About us</h4>
            <h3 data-aos="fade-up">Want to know more about us?</h3>
            <p data-aos="fade-up">CFOHUB is one of India's largest online compliance services platform dedicated to helping people start and grow their business, at an affordable cost. It started its operations in 2018 with the mission of making it easier for entrepreneurs to start their business. We have since helped start and operate businesses by offering a range of business services. Our aim is to help the entrepreneur on the legal and regulatory requirements, and be a partner throughout the business lifecycle, offering support at every stage to ensure the business remains compliant and continually growing. In CFOHUB we have launched many additional services that suits the client’s budget and aspirational needs.</p>


          </div>
        </div>

      </div>
    </section><!-- End About Section -->



    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Some of the Services for your business</h2>
          <p>CFOHUB is the business services platform dedicated to helping Entrepreneurs easily start and grow their business, at an affordable cost..</p>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="icofont-computer"></i></div>
              <h4 class="title"><a href="">Regitrations</a></h4>
              <p class="description">Register to become a member and get personalized advice on starting your new enterprise,
requirements from compliance perspective and business plans.<br>Business: Rs. 1000 per month.<br></p>
<a href="#" class="scrollto"><h5>Get Started >></h5></a><br><br>
            </div>
          </div>
          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
              <h4 class="title"><a href="">Financial Services</a></h4>
              <p class="description">Register to become a member and get Financial advise for your new company set up, business
planning and forecasting along with the basic plan.<br>
Premium: Rs. 5000 per month<br></p>
<a href="#" class="scrollto"><h5>Get Started >></h5></a><br><br>
            </div>
          </div>
          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="icofont-earth"></i></div>
              <h4 class="title"><a href="">Accounting Services</a></h4>
              <p class="description">Register to become a member and get your accounting and taxation compliance done along with the
services provided along with the business plan.<br>
Composite: Rs. 10000 per month</p>
<a href="#" class="scrollto"><h5>Get Started >></h5></a><br><br>
            </div>
          </div>
          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="icofont-earth"></i></div>
              <h4 class="title"><a href="">CFO Sevices</a></h4>
              <p class="description">Register to become a member and get your complete CFO service (Governance, Financial processes,
and reporting) along with the Premium plan.</p>
<a href="#"><h5>Get Started >></h5></a><br><br>
            </div>
          </div>
          
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">
      <div class="container">

        <div class="row">
          <div class="col-md-4 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card" style="background-image: url(../static/img/values-1.jpg);">
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Mission</a></h5>
                <p class="card-text">Proactive, adaptive and flexible while partnering with clients and meet their expectations.</p>
                
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="100">
            <div class="card" style="background-image: url(../static/img/values-2.jpg);">
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Vision</a></h5>
                <p class="card-text">A healthier startup community with financial independence, efficient operations and stronger governance.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card" style="background-image: url(../static/img/values-1.jpg);">
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Values</a></h5>
                <p class="card-text">Values: Collaboration (C), Accountability (A), Respect (R) and Excellence (E).</p>
                
              </div>
            </div>
          </div>
         
        
        </div>

      </div>
    </section><!-- End Values Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
            <h3>Saul Goodman</h3>
            <h4>Ceo &amp; Founder</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="../static/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
            <h3>Sara Wilsson</h3>
            <h4>Designer</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="../static/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
            <h3>Jena Karlis</h3>
            <h4>Store Owner</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="../static/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
            <h3>Matt Brandon</h3>
            <h4>Freelancer</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="../static/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
            <h3>John Larson</h3>
            <h4>Entrepreneur</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

   



    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-up">Pricing</h2>
         
        </div>

        <div class="row">

          <div class="col mx-1" data-aos="fade-up">
            <div class="box featured">
              <h3>Registrations</h3>
              <ul>
                <li><a href="/one_person_company/">One Person Company</a></li>
              <li><a href="/limited_liability_company/">Limited Liability Company</a></li>
              <li><a href="/private_limited_company/">Private Limited Company</a></li>
              </ul><br><br><br>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col mx-1 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="100">
            <div class="box featured">
              <h3>Compliance</h3>
              
              <ul>
                <li><a href="/pf_esi_payroll/">PF, ESI and Professional Tax</a></li>
              <li><a href="/roc_compliance/">ROC Compliance</a></li>
              <li><a href="/company_lifecycle_compliance/">Company life cycle Compliance</a></li>
              <li><a href="/tax_compliance/">Tax Compliance</a></li>
              <li><a href="/gst_advisory_board/">GST Advisory Board</a></li><br>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col mx-1 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>CFO Services</h3>
              <ul>
                <li><a href="/financial_advisory/">Financial Advisory</a></li>
              <li><a href="/funding_advisory/">Funding Advisory</a></li>
              <li><a href="/board_membership/">Independent Director</a></li>
              <li><a href="/registered_transfer_agent_service/">Registered Transfer Agent</a></li>
              <li><a href="/corporate_governance/">Corporate Governance</a></li>
              <li><a href="">Payroll Services</a></li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col mx-1 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box featured">
              <h3>Digital Services</h3>
              <ul>
                <li><a href="/digital_accounting/">Digital Accounting </a></li>
              <li><a href="/digital_record_keeping/">Digital Record Keeping</a></li>
              <li><a href="/reporting_and_audits/">Reporting and Audits</a></li><br>
            </ul><br><br><br><br>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col mx-1 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box featured">
              <h3>Intellectual Property</h3>
              <ul>
                <li><a href="/trademark_registration/">Trademark Registration</a></li>
              <li><a href="/copyright_registration/">Copywrite Registration</a></li>
              <li><a href="/patent_and_design_registration/">Patent and Design Registration</a></li>
              </ul><br><br><br>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div> 

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-up">Contact</h2>
        </div>

        <div class="row justify-content-center">

          <div class="col-xl-4 col-lg-4 mt-4" data-aos="fade-up">
            <div class="info-box">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>2nd Floor, Bridge+, Park Square Mall, ITPL Main Road, Whitefield, Bengaluru, Karnataka, 560066</p>
            </div>
          </div>

          <div class="col-xl-4 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="100">
            <div class="info-box">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>customerservice@cfohubllp.com<br>info@cfohubllp.com</p><br>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="200">
            <div class="info-box">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+91-9611135165</p><br><br>
            </div>
          </div>
        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
          <div class="col-xl-9 col-lg-12 mt-4">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
    {% endblock %}