{% extends "cfohubapp/index.html" %}
{% load static %}
{% block navigation %}
<section id="topbar" class="d-none d-lg-block">
    <div class="container d-flex"><br>
      <div class="contact-info mr-auto">
        <ul>
          <li><i class="icofont-envelope"></i><a href="mailto:customerservice@cfohubllp.com">customerservice@cfohubllp.com</a></li>
          <li><i class="icofont-phone"></i> +91-9611135165</li>
          <li><i class="icofont-clock-time icofont-flip-horizontal"></i> Mon-Sat:8 AM-8PM</li>
        </ul>

      </div>
      <div class="cta">
        <a href="#about" class="scrollto">Digital Community</a>
      </div>&nbsp;
      <div class="cta">
        <a href="#about" class="scrollto">Digital Learning</a>
      </div>&nbsp;
      <div class="cta">
        <a href="#about" class="scrollto">Co-Working</a>
      </div>&nbsp;
      <div class="cta">
        <a href="#about" class="scrollto">Login</a>
      </div>&nbsp;
      <div class="cta">
        <a href="#about" class="scrollto">Register</a>
      </div>
      

    </div>
  </section>
<header id="header">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/"><span>CFOHUB</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="drop-down"><a href="#about">Registrations</a>
          <ul>
              <li><a href="/one_person_company/">One Person Company</a></li>
              <li><a href="/limited_liability_company/">Limited Liability Company</a></li>
              <li><a href="/private_limited_company/">Private Limited Company</a></li>
            </ul></li>
          <li class="drop-down"><a href="#services">Compliance</a>
          <ul>
              <li><a href="/pf_esi_payroll/">PF, ESI and Professional Tax</a></li>
              <li><a href="/roc_compliance/">ROC Compliance</a></li>
              <li><a href="/company_lifecycle_compliance/">Company life cycle Compliance</a></li>
              <li><a href="/tax_compliance/">Tax Compliance</a></li>
              <li><a href="/gst_advisory_board/">GST Advisory Board</a></li>
            </ul></li>
            <li class="drop-down"><a href="">CFO Service</a>
            <ul>
              <li><a href="/financial_advisory/">Financial Advisory</a></li>
              <li><a href="/funding_advisory/">Funding Advisory</a></li>
              <li><a href="/board_membership/">Independent Director Service</a></li>
              <li><a href="/registered_transfer_agent_service/">Registered Transfer Agent Service</a></li>
              <li><a href="/corporate_governance/">Corporate Governance</a></li>
              <li><a href="">Payroll Services</a></li>
            </ul>
          </li>
          
          <li class="drop-down"><a href="#portfolio">Digital Services</a>
          <ul>
              <li><a href="/digital_accounting/">Digital Accounting </a></li>
              <li><a href="/digital_record_keeping/">Digital Record Keeping</a></li>
              <li><a href="/reporting_and_audits/">Reporting and Audits</a></li>
            </ul></li>
          <li class="drop-down"><a href="#team">Intellectual Property</a>
          <ul>
              <li><a href="/trademark_registration/">Trademark Registration</a></li>
              <li><a href="/copyright_registration/">Copywrite Registration</a></li>
              <li><a href="/patent_and_design_registration/">Patent and Design Registration</a></li>
            </ul>
            </li>


        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
  {% endblock %}