{% extends "./navigation.html" %}
{% block main %}
    <!-- ======= Team Section ======= -->

 

     <section id="services" class="services section-bg">
      <div class="container">

        <div class="credits">
          <a href=""><h2>One Person Company (OPC)</h2></a> <br>
        <a href="#" class="scrollto"><h4>Get Started >></h4></a><br><br>
      


         <p >One Person Company (OPC) allows a single Entrepreneur to operate a corporate entity with limited liability protection. Register a OPC online at just Rs.9899.</p>
          <p>One Person Company is a new type of business entity that allows a single entrepreneur to operate a corporate entity with limited liability protection. CFOHUB offers OPC registration from Rs.9899/ all inclusive fee</p>
          <p>The concept of One Person Company in India was introduced through the Companies Act, 2013 to support entrepreneurs who on their own are capable of starting a venture by allowing them to create a single person economic entity. One of the biggest advantages of a One Person Company (OPC) is that there can be only one member in an OPC, while a minimum of two members are required for incorporating and maintaining a Private Limited Company or a Limited Liability Partnership (LLP). Similar to a Private Limited Company, a One Person Company is a separate legal entity from its promoter, offering limited liability protection to its sole shareholder, while having continuity of business and being easy to incorporate.</p>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="icofont-computer"></i></div>
              <h4 class="title"><a href="">Eligibility</a></h4>
              <p class="description">To incorporate a private limited company a minimum of two persons are required over the age of 18 years with atleast one person being an Indian citizen and resident.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
              <h4 class="title"><a href="">Compliance</a></h4>
              <p class="description">CFOHUB offers a comprehensive private limited company accounting and compliance management solution starting at less than Rs.18899/- per year.</p>
            </div>
          </div>
         
        </div>

      </div>
    </section><!-- End Services Section -->

{% endblock %}