{% extends "./navigation.html" %}
{% block main %}
    <!-- ======= Team Section ======= -->

 

     <section id="services" class="services section-bg">
      <div class="container">

        <div class="credits">
          <a href=""><h2>Patent Registration</h2></a> <br>
        <a href="#" class="scrollto"><h4>Get Started >></h4></a><br><br>
      


         <p >Patent is an exclusive right for an invention provided by the law for a limited time to the Patentee. Easily file a patent application online on CFOHUB..</p>
          <p>Patent registration can be obtained in India for an invention. Patent registrations are not applicable for all inventions, and the invention must satisfy certain criteria to be patentable in India.</p>
<p>
As per the Patent Act, for an invention to be patentable, the invention must be a new product or process, involving an inventive step and capable of being made or used in industry. It means the invention to be patentable should be technical in nature and should meet the following criteria –
<ul>
<li>Novelty: The matter disclosed in the specification is not published in India or elsewhere before the date of filing of the patent application in India.</li>
<li>Inventive Step: The invention is not obvious to a person skilled in the art in light of the prior publication/knowledge/ document.</li>
<li>Industrially applicable: Invention should possess utility so that it can be made or used in an industry.</li>
</ul></p>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="icofont-computer"></i></div>
              <h4 class="title"><a href="">Patent</a></h4>
              <p class="description">As per the Patent Act, for an invention to be patentable, the invention must be a new product or process, involving an inventive step and capable of being made or used in industry.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
              <h4 class="title"><a href="">filing</a></h4>
              <p class="description">A patent application can be filed electronically using Form-1 along with provisional/complete Specification, with the prescribed fee at the appropriate patent office.</p>
            </div>
          </div>
         
        </div>

      </div>
    </section><!-- End Services Section --><br><br>

{% endblock %}