{% extends "./navigation.html" %}
{% block main %}
    <!-- ======= Team Section ======= -->

 

     <section id="services" class="services section-bg">
      <div class="container">

        <div class="credits">
          <a href=""><h2>Payroll Services

          </h2></a> <br>
        <a href="#" class="scrollto"><h4>Get Started >></h4></a><br><br>
<p>We provide dedicated on site and remote team support along with supporting payroll management software to manage attendance, salary, PF, ESI, leave requests, FNF, Income tax & TDS. This service is provided with technology and compliance support from latest payroll software vendor (as per clients choice) and a dedicated support team from CFOhub who work as a partner for system implementation, ongoing support through dedicated staff and all HR and payroll compliance solution.</p>      




      </div>
    </section><!-- End Services Section -->

{% endblock %}