{% extends "./navigation.html" %}
{% block main %}
    <!-- ======= Team Section ======= -->

 

     <section id="services" class="services section-bg">
      <div class="container">

        <div class="credits">
          <a href=""><h2>PF Registration </h2></a>
        <a href="#" class="scrollto"><h6>Get Started >></h6></a>


         <p >PF registration is mandatory for employers having 20 or more employees. Provident Fund (PF) is a social security scheme funded by employees and employers in India.</p>
      
        </div>

        <div class="credits">
          <a href=""><h2>Online ESI Registration</h2></a>
        <a href="#" class="scrollto"><h6>Get Started >></h6></a>  


         <p >ESI registration must be obtained by all employers required to deduct and remit ESI dues from employees. ESI is applicable for employees earning less than Rs.21000 per month as wages. Easily obtain ESI registration and file ESI returns online through CFOHUB with ESI Expert support..</p>
      
        </div>

        <div class="credits">
          <a href=""><h2>Payroll Processing & HR Management </h2></a> 
        <a href="#" class="scrollto"><h6>Get Started >></h6></a>   


         <p >Outsource your payroll processing and HR management to CFOHUB at just Rs.4899 per month. Get error-free monthly payroll calculation and payslips for your employees.</p>
      
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="icofont-computer"></i></div>
              <h4 class="title"><a href="">PF Eligibility</a></h4>
              <p class="description">It is obligatory that employees’ drawing less than Rs 15,000 per month, to become members of the EPF.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
              <h4 class="title"><a href="">Contribution</a></h4>
              <p class="description">The PF contribution paid by the employer is 12% of (basic salary + dearness allowance + retaining allowance).</p>
            </div>
          </div>
         
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="icofont-computer"></i></div>
              <h4 class="title"><a href="">ESI</a></h4>
              <p class="description">Any factory or establishment employing ten or more persons drawing wages of upto Rs.21,000 per month must obtain ESI registration.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
              <h4 class="title"><a href="">Benifits</a></h4>
              <p class="description">The employees of a business registered under ESI obtain various benefits like medical support, sickness compensation, maternity benefits, etc.</p>
            </div>
          </div>
         
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="icofont-computer"></i></div>
              <h4 class="title"><a href="">Payroll</a></h4>
              <p class="description">Error-free payroll processing with highly customisable salary structures to automate the entire payroll process and disbursement cycle..</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
              <h4 class="title"><a href="">Compliance</a></h4>
              <p class="description">CFOHUB Ensure that your business is compliant with all related HR compliances including TDS, Income Tax, ESI, PF and Professional Tax.</p>
            </div>
          </div>
         
        </div>

      </div>
    </section><!-- End Services Section -->

{% endblock %}