{% extends "./navigation.html" %}
{% block main %}
    <!-- ======= Team Section ======= -->

 

     <section id="services" class="services section-bg">
      <div class="container">

        <div class="credits">
          <a href=""><h2>Private Limited Company</h2></a> <br>
        <a href="#" class="scrollto"><h4>Get Started >></h4></a><br><br>
      


         <p >Easily register a private limited company at just Rs.9899 and get assistance for company name availability check, annual return filing and income tax filing.</p>
          <p>Private Limited Company is the most prevalent and popular type of corporate legal entity in India. The Ministry of Corporate Affairs governs private limited company registration in India. Companies are incorporated and regulated under the Companies Act, 2013 and the Companies Incorporation Rules, 2014. CFOHUB can help you with company registration across India at a very affordable price point.</p>
          <p>To register a private limited company, a minimum of two persons to act as Directors and shareholders are required. The shareholders of a private limited company can be a corporate entity or a natural person. Director can only be a living person with one Director being a resident and Indian Citizen. A person is designated as a resident if he/she spends over 186 days in India.</p>
<p>
There are no restrictions on foreign companies or foreign nationals being Directors or shareholders of a private limited company. As, foreign nationals, foreign corporate entities or NRIs are allowed to be Directors and Shareholders of a Company with Foreign Direct Investment, incorporating a company is the preferred choice of entry to India for foreign promoters.</p>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="icofont-computer"></i></div>
              <h4 class="title"><a href="">Eligibility</a></h4>
              <p class="description">To incorporate a private limited company a minimum of two persons are required over the age of 18 years with atleast one person being an Indian citizen and resident.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
              <h4 class="title"><a href="">Compliance</a></h4>
              <p class="description">CFOHUB offers a comprehensive private limited company accounting and compliance management solution starting at less than Rs.19899/- per year.</p>
            </div>
          </div>
         
        </div>

      </div>
    </section><!-- End Services Section -->

{% endblock %}