{% extends "./navigation.html" %}
{% block main %}
    <!-- ======= Team Section ======= -->

 

     <section id="services" class="services section-bg">
      <div class="container">

        <div class="credits">
          <a href=""><h2>Audit Report</h2></a> <br>
        <a href="#" class="scrollto"><h4>Get Started >></h4></a><br><br>
      


         <p >For any enterprise, the audit report is a key deliverable which shows the end results of the entire audit process. The users of financial statements like Investors, Lenders, Customers, and others base their decisions and plans on audit reports of any enterprise. An audit report is always critical to influencing the perceived value of any financial statement’s audit..</p>
          <p>The auditor should be careful in issuing the audit report as there is are a large number of people placing reliance on such report and taking decisions accordingly. The report should be issued by being unbiased and objective in discharging the functions.

NOTE: The threshold limit of Rs 1 crore for a tax audit is proposed to be increased to Rs 5 crore with effect from AY 2021-22 (FY 2020-21) if the taxpayer’s cash receipts are limited to 5% of the gross receipts or turnover, and if the taxpayer’s cash payments are limited to 5% of the aggregate payments.</p>
          <p>There are four types of audit reports issued by auditors on financial statements. Each type of report contains different meanings and messages from auditors to users of financial statements.

Those audit reports included the Unqualified Audit Report (Clean Audit Report), Qualified Audit Report, Disclaimer Audit Report, and Adverse Audit Report. The following are the detail of audit reports.</p>

        </div>

      </div>
    </section><!-- End Services Section --><br><br>

{% endblock %}