{% extends "./navigation.html" %}
{% block main %}
    <!-- ======= Team Section ======= -->

 

     <section id="services" class="services section-bg">
      <div class="container">

        <div class="credits">
          <a href=""><h2>Registered Office Address Change</h2></a> <br>
        <a href="#" class="scrollto"><h4>Get Started >></h4></a><br><br>
      


         <p >Procedure for changing the registered office address of a company registered in India. Registered office address change must be notified to MCA with 30 days.</p>
          <p>The registered office of a company is a place to which all official communications pertaining to a Company is sent. In addition to a registered office, a company can have an corporate office or administrative office or branch office or factory, etc., However, only the registered office of the Company needs to be registered with the Ministry of Corporate Affairs. All other offices or additional locations can be opened by a company without any intimation to the ROC.</p>
          <p>The registered office of the Company will also determine the domicile of the company (State of Incorporation). The state or location in which the registered office of the Company is situated will determine the Registrar of Company (ROC) to which the application for company registration must be made. Any change of address of Registered Office must be notified to the Registrar of Company (ROC) within 15 days.</p>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="icofont-computer"></i></div>
              <h4 class="title"><a href="">Domicile</a></h4>
              <p class="description">The registered office of the Company will determine the domicile of the company (State of Incorporation).</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
              <h4 class="title"><a href="">change</a></h4>
              <p class="description">Any change of address of Registered Office must be notified to the Registrar of Company (ROC) within 15 days.</p>
            </div>
          </div>
         
        </div>

      </div>
    </section><!-- End Services Section -->

{% endblock %}