{% extends "./navigation.html" %}
{% block main %}
    <!-- ======= Team Section ======= -->

 

     <section id="services" class="services section-bg">
      <div class="container">

        <div class="credits">
          <a href=""><h2>Online Professional Tax Registration</h2></a> <br>
        <a href="#" class="scrollto"><h4>Get Started >></h4></a><br><br>
      


         <p >Professional tax registration is required for employers and persons engaged in any profession or trade. Easily obtain Professional Tax registration for your business across India through CFOHUB for Rs.12899</p>
          <p>TProfessional tax is a tax levied by the State government. Professional tax is levied on income however earned in any trade and is usually remitted by the Employer. The stipulations attached to professional tax, caps the total professional tax payable in respect of any one person to the State or to any local authority in the State by way of taxes on professions, trades, callings and employments to Rs.2500 per year.</p>
          <p>Professional tax is just like Income Tax except for the fact that Income Tax is collected by the Central Government and Professional Tax is collected by the State Government. When this tax was first introduced in India, the maximum limit on the tax to be collected was Rs. 250.</p>
<p>
Some of the State Governments have represented that the earlier celling of two hundred and fifty rupees which was fixed in 1949, needs to be revised upwards taking into consideration the price rise and other factors. It is also pointed out that the profession tax has, at present, become almost regressive because of the ceiling since even people with high salaries have to pay this tax at only the maximum amount of two hundred and fifty rupees per annum. The upward revision of profession tax to Rs.2500 per year has helped the State Governments in raising additional resources.</p>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="icofont-computer"></i></div>
              <h4 class="title"><a href="">Requirement</a></h4>
              <p class="description">Professional tax registration application must be submitted to the State’s tax department within 30 days of employing staff in a business by the business owner.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
              <h4 class="title"><a href="">Compliances</a></h4>
              <p class="description">The owner of a business is responsible for deducting professional tax from the salaries of his employees and paying the amount so collected to the appropriate government department..</p>
            </div>
          </div>
         
        </div>

      </div>
    </section><!-- End Services Section --><br><br>

{% endblock %}