{% extends "./navigation.html" %}
{% block main %}
    <!-- ======= Team Section ======= -->

 

     <section id="services" class="services section-bg">
      <div class="container">

        <div class="credits">
          <a href=""><h2>Trademark Registration</h2></a> <br>
        <a href="#" class="scrollto"><h4>Get Started >></h4></a><br><br>
      


         <p >File trademark registration application online through CFOHUB in less than 24 hours at just Rs.5988 all inclusive fee. Get a free trademark search and consultation on trademark filing process. IndiaFilings provides a range of trademark services from trademark filing to objection handling.</p>
          <p>A trademark is a visual symbol, which may be a word, name, device, label or numeral used by a business to distinguish its goods or services from other similar products or services originating from a different business. A trademark is a protectable asset under Indian laws and regulations. To protect a trademark from being copied by others, the inventor of the word or symbol must apply for trademark registration with the Office of Controller General of Patents Designs and Trademarks. The process for trademark registration has various steps, and it is essential to hire an Expert for trademark filing to maximise chances of registration.</p>
<p>
CFOHUB has helped file over fifty thousand trademark applications in India and has obtained registration for various leading brands. We also offer a comprehensive suite of services for intellectual property registration and protection in India like trademark objection reply, trademark opposition, trademark renewal and patent registration. Get a free consultation for trademark registration by scheduling an appointment with an CFOHUB Trademark Expert.</p>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="icofont-computer"></i></div>
              <h4 class="title"><a href="">Eligibility</a></h4>
              <p class="description">Any person or entity can file a trademark application in India. Unique names and prior usage of mark will help boost chances for getting the mark registered..</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
              <h4 class="title"><a href="">Trademark Search</a></h4>
              <p class="description">CFOHUB offers free trademark searches. Prior to applying for a trademark registration, doing a trademark search can help uncover similar or identical marks.
            </div>
          </div>
         
        </div>

      </div>
    </section><!-- End Services Section --><br><br>

{% endblock %}